<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"><!---bg-dark-->
    <a class="navbar-brand" href="https://www.citygruen-gmbh.de/">CityGrün GmbH</a>
    <!--Navbar Elemente-->
    <ul class="nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link" href="/aktive_routen">Aktive Routen</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/aktive_kunden">Aktive Kunden</a>
        </li>
      
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Anlegen
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/insert_route/">Routen</a>
                <a class="dropdown-item" href="/insert_standort/">Standorte</a>
                <a class="dropdown-item" href="/insert_pflanze/">Pflanzen</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="/insert_kunde/">Kunde</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Bearbeiten
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/alter_route/">Routen</a>
                <a class="dropdown-item" href="/alter_standort/">Standorte</a>
                <a class="dropdown-item" href="/alter_pflanze/">Pflanzen</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="/alter_kunde/">Kunden</a>
            </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Zuweisung
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="/zuweisung_routestandort/">Route-Standort verknüpfen</a>
              <a class="dropdown-item" href="/zuweisung_standortpflanze/">Standort-Pflanze verknüpfen</a>
          </div>
        </li>

        <li class="nav-item dropdown justify-contend-end">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Verwaltung
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'admin:index' %}">Administration</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </div>
        </li>
    </ul>
</nav>