<!doctype html>
<html lang="de">
  <head>
    {% load static %}
    
    {% include "include/head.html" %}

  </head>
  <body>
    {% include "include/nav.html" %}
    <h1 id="insert_head">Neue Pflanze anlegen</h1>
    <div class = "insert_form">
        <form action="" method="post"  enctype="multipart/form-data">
            {%  csrf_token %}
            <div class = "form">
                <label class = "insert_label"> <b>ID: </b></label>
                <input readonly class = "insert_input" type = "text" id="insert_input_readonly" name = "ID_Pflanze" value = "Automatisch generiert...">
            </div>

            <div class = "form">
                <label class = "insert_label"><b>Name: </b></label>
                <input class = "insert_input" type = "text" name = "Name_Pflanze" required placeholder = "Name...">
            </div>

            <div class = "form">
                <label class = "insert_label"><b>Gattung: </b></label>
                <input class = "insert_input" type = "text" name = "Gattung_Pflanze" required placeholder = "Gattung...">
            </div>

            <div class = "form">
                <label class = "insert_label" id="pflegehinweis"><b>Pflegehinweis: </b></label>
                <textarea class="insert_input_area" id = "insert_textarea" name = "Pflegehinweis_Pflanze" rows="4" required placeholder = "Pflegehinweis..." ></textarea>
            </div>

            <div class = "form">
                    <label class = "insert_label"><b>Bild: </b></label>
                    <input class = "insert_picture" type="file"  id="insert_picture" accept="image/png, image/jpeg">
                    <img id="insert_picture_target" src=""  width="50" height="50" style="display:none;">
                    <input type="hidden" class = "insert_picure_label" id="insert_picure_label" name="Picture_Pflanze" value="test"></label>
            </div>

            <div class = "form">
                <label class = "insert_label"><b>Status: </b></label>
                <input class = "insert_checkbox" type="checkbox" id="aktiv" name="Status_Pflanze" checked>
                <label for="aktiv" class = "insert_checkbox_label">Pflanze aktiv? </label>
              </div>

            <div class = "form">
                <input type="submit" class = "insert_button" id="insert_submit" value="Absenden">
                <input type="reset" class = "insert_button" id="insert_cancel" value="Zurücksetzen">
            </div>

            <script>
                function getBase64(file) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function () {
                        console.log(reader.result);
                        // In HTML anzeigen
                        document.getElementById("insert_picure_label").value = reader.result; 
                        document.getElementById("insert_picture_target").src = reader.result; 
                        document.getElementById("insert_picture_target").style.display = 'inline';
                    };
                    reader.onerror = function (error) {
                        console.log('Error: ', error);
                    };
                }

                document.addEventListener("DOMContentLoaded", function(event) {  

                document.getElementById('insert_picture').addEventListener('change', fileUploadStyling)

                function fileUploadStyling() {
                    let file = document.querySelector("input[type=file]").files[0];
                    console.log(file);
                    getBase64(file); // prints the base64 string
                }
                })
            </script>

        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>