<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    
    {% include "include/head.html" %}

  </head>
  <body>
    
    {% include "include/nav.html" %}

    
    
    {% if VerbindungenStandortPflanzen %}

    <div class="container p-3 my-3 bg-dark text-white">{{VerbindungenStandortPflanzen.first.Standort.Name}} </div>

    <div class="container">
        <div class="row">
          <div class="col-12">


            <div class="Scroll" style="overflow-y: scroll">
              <table class="table table-image table-dark table-striped table-hover">
                  <!---Head-->
                <thead>
                  <tr>
                    <th scope="col">NR</th>
                    <th scope="col">Bild</th>
                    <th scope="col">Name</th>
                    <th scope="col">Pflegehinweis</th>
                    <th scope="col">Anzahl</th>
                    <th scope="col">Freitext</th>
                  </tr>
                </thead>
                <!---Body-->
                <tbody>
                    {% for Verbindung in VerbindungenStandortPflanzen %}
                    <tr>

                    <td>{{Verbindung.Pflanze.id}}</td>
                    <td class="w-25">
                      <img src="{{Verbindung.Pflanze.Picture}}" height="150"/>
                    </td>
                    <td>
                      <h5>{{Verbindung.Pflanze.Name}} </h5>
                      {{Verbindung.Pflanze.Gattung}} 
                    </td>
                    <td>{{Verbindung.Pflanze.Pflegehinweis}}</td>
                    <td>{{Verbindung.Anzahl}}</td>
                    <td>{{Verbindung.Freitext}}</td>
                </tr>
                    {% endfor %}
                </tbody>
              </table>
              </div>
          </div>
        </div>
      </div>

    {% else %}
    <div class="container p-3 my-3 bg-dark text-white">Keine Pflanzen in diesem Standort </div>
    {% endif %}

    <br>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>