<!doctype html>
<html lang="de">
  <head>
    {% load static %}

    {% include "include/head.html" %}
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script> 
  </head>
  <body>
            {% include "include/nav.html" %}
            <h1 id="insert_head">Zuweisung Standort-Pflanze</h1>
            <div class = "insert_form">
               
                    {%  csrf_token %}

                    <div class = "form">
                        <div class="Suche">
                            <label class = "insert_label"> <b>Route eingeben: </b></label>
                            <input class = "alter_input_Suche" type = "text" id="Suche_Route" name="Suche_Route" value ="" placeholder="Name des Standorts eingeben" >
                            <button id="alter_suche_standort" class="alter_suche">Suchen</button>
                            {% if Standorte %}
                            <label class = "insert_label"> <b>Standort auswählen: </b></label>
                                <select name="Auswahlliste_Standort" size= {{ Standorte.count }}>
                                {% for Standort in Standorte %}
                                    <option class="Auswahl_Standort" id="Auswahl_Standort">{{ Standort.id }} - {{ Standort.Name }} - {{ Standort.Ort }}</option>
                                {% endfor %}
                                </select> <br>
                                    <label class = "insert_label"> <b>Ausgewählter Standort: </b></label>
                                    <input readonly class = "alter_input" type = "text" id="ausgewaehlte_standort"  name = "Ausgewaehlte_Standort" placeholder="Bitte Standort auswählen!">
                                    <label id="ausgewaehlte_standort"> 
                                        <script>
                                            let auswahlStandorte = document.querySelectorAll(".Auswahl_Standort")
                                            auswahlStandorte.forEach(auswahlelement=>{
                                                auswahlelement.addEventListener("click", showStandorte)
                                            })
                                            function showStandorte(e) {
                                                let ausgewaehlteselement = e.target.innerHTML
                                                console.log(ausgewaehlteselement)

                                                let QueryArray = ausgewaehlteselement.split(" - ");
                                                let id = QueryArray[0];
                                                let name = QueryArray[1];
                                                let ort = QueryArray[2];
                                                console.log(QueryArray[0])
                                                console.log(QueryArray[1])
                                                console.log(QueryArray[2])
                                                document.getElementById('ausgewaehlte_standort').value = id + ' - ' + name 
                                            } 

                                            let loc = window.location.href 
                                            let splitloc = loc.split('/')
                                            let lastloc = parseInt(splitloc[splitloc.length-1])
                                            console.log(lastloc)
                                            if (isNaN(lastloc)) {
                                                document.getElementById('ausgewaehlte_standort').value = 'Bitte Standort auswählen!'
                                            } else {
                                                let nameloc = splitloc[splitloc.length-2]
                                                document.getElementById('ausgewaehlte_standort').value =  lastloc + ' - ' + nameloc.replace('%20', ' ')
                                            }

                                        </script>
                                    </label>
                                {% else %}
                            <label class = "insert_label"> <b></b></label>
                            <label class = "nodata_label"> <b>Kein Standort mit diesem Namen</b></label>
                            {% endif %}
                        </div> 
                    </div>

                <div class="form" style="text-align: center;">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <table id="Table_Pflanzen" class="table table-image table-dark table-striped table-hover" >
                                    <tr>
                                        <th> ID </th>
                                        <th> Name </th>
                                        <th> Anzahl </th> 
                                        <th> Checkbox </th>
                                    </tr>
                                    {% for Pflanze in Pflanzen %}
                                        <tr>
                                            <td id="Pflanze_ID_{{ Pflanze.id }}"> 
                                                {{ Pflanze.id}}
                                            </td>
                                            <td class="table_id" id="Pflanze_Name_{{ Pflanze.id }}"> 
                                                {{ Pflanze.Name}} 
                                            </td>
                                            <td> 
                                            <input type="text" id="verbindung_anzahl_{{ Pflanze.id }}"> 
                                            {% for Verbindungen in VerbindungenStdPfl %}
                                                {% if Verbindungen.Standort.id == idStandort.id %}
                                                    {% if Verbindungen.Pflanze.id == Pflanze.id %}
                                                        <script>
                                                            document.getElementById('verbindung_anzahl_{{ Pflanze.id }}').value = '{{ Verbindungen.Anzahl }}'
                                                        </script>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            
                                            </textarea>
                                            </td> 
                                            <td> 
                                                <div class = "form">
                                                    <label class = "insert_label"><b>Status: </b></label>
                                                    <input class = "insert_checkbox" type="checkbox" id="Pflanze_Checkbox_{{ Pflanze.id }}" name="Status_Pflanze" unchecked>
                                                    {% for Verbindungen in VerbindungenStdPfl %}
                                                        {% if Verbindungen.Standort.id == idStandort.id %}
                                                            {% if Verbindungen.Pflanze.id == Pflanze.id %}
                                                                <script>
                                                                    document.getElementById('Pflanze_Checkbox_{{ Pflanze.id }}').checked = true
                                                                </script>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <!-- <label for="Standort_Checkbox_{{ Standort.id }}" class = "insert_checkbox_label">Standort hinzufügen? </label> -->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div> 
                    </div>
                    <button onclick="setZuweisung()" class = "insert_button" id="insert_submit" style="align-self: center; width: 65%;">Anwenden</button>
                </div>  
                    

                    

                    <script>               
                    document.addEventListener("DOMContentLoaded", function(event) {  
                        document.getElementById('alter_suche_standort').addEventListener('click', getElementsFromFilterStandort)
                        //window.location.href = window.location.href + '/5+True-6+True'
                    })

                    let auswahlStandort = document.querySelectorAll(".Auswahl_Standort")
                    auswahlStandort.forEach(auswahlelement=>{
                        auswahlelement.addEventListener("click", showStandorte)
                    })
                    let auswahlPflanze = document.querySelectorAll(".Auswahl_Pflanze")
                    auswahlPflanze.forEach(auswahlelement=>{
                        auswahlelement.addEventListener("click", showPflanze)
                    })

                    function setZuweisung() {
                        let table = document.getElementById('Table_Pflanzen')
                        console.log("Count", table.rows.length)
                        
                        let redirectString = '/'
                        for(let i=1; i<table.rows.length; i++) {
                            let idPflanze = table.rows[i].cells[0].innerHTML.trim()
                            console.log(idPflanze)
                            let infoStandort = document.getElementById('ausgewaehlte_standort').value
                            let QueryArray = infoStandort.split(" - ");
                            let idStandort = QueryArray[0];
                            let CheckId = 'Pflanze_Checkbox_' + idPflanze
                            let AnzahlId = 'verbindung_anzahl_' + idPflanze
                            console.log(CheckId)
                            let statusPflanze = document.getElementById(CheckId).checked
                            let anzahlPflanze = document.getElementById(AnzahlId).value
                            console.log(statusPflanze)

                            redirectString = redirectString + idPflanze + '+' + statusPflanze + '+' + anzahlPflanze + '-'  
                        }
                        redirectString = redirectString.substring(0, redirectString.length-1)
                        console.log(redirectString)
                        window.location.href = window.location.href + redirectString


                    }

                    // Name aus der Suchleiste filtern und an URL hängen
                    function getElementsFromFilterStandort() {
                        let filter = document.getElementById('Suche_Standort').value;
                        console.log(filter);
                        window.location.href = "/zuweisung_standortpflanze/" + filter
                    }

                    // Zeige Kunden mit zugehörigen Daten 
                    function showStandorte(e) {
                        let ausgewaehlteselement = e.target.innerHTML
                        console.log(ausgewaehlteselement)

                        let QueryArray = ausgewaehlteselement.split(" - ");
                        let id = QueryArray[0];
                        let name = QueryArray[1];
                        let ort = QueryArray[2];
                        //document.getElementById('Ausgewaehlte_Route').value = id + ' - ' + name + ' - ' + pflegetrupp

                        window.location.href = "/zuweisung_standortpflanze/" + name + "/" + id
                    }   
                    
                    // Name aus der Suchleiste filtern und an URL hängen
                    function getElementsFromFilterPflanze() {
                        let filter = document.getElementById('Suche_Pflanze').value;
                        console.log(filter);
                    }

                    // Zeige Kunden mit zugehörigen Daten 
                    function showPflanze(e) {
                        let ausgewaehlteselement = e.target.innerHTML
                        console.log(ausgewaehlteselement)

                        let QueryArray = ausgewaehlteselement.split(" - ");
                        let id = QueryArray[0];
                        let name = QueryArray[1];
                        let gattung = QueryArray[2];
                        console.log(QueryArray[0])
                        console.log(QueryArray[1])
                        console.log(QueryArray[2])

                        document.getElementById('Ausgewaehlte_Pflanze').value = ausgewaehlteselement;
                    }   
                    </script>
            </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>