<!doctype html>
<html lang="de">
  <head>
    {% load static %}

    {% include "include/head.html" %}
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script> 
  </head>
  <body>
            {% include "include/nav.html" %}
            <h1 id="insert_head">Zuweisung Route-Standort</h1>
            <div class = "insert_form">
               
                    {%  csrf_token %}

                    <div class = "form">
                        <div class="Suche">
                            <label class = "insert_label"> <b>Route eingeben: </b></label>
                            <input class = "alter_input_Suche" type = "text" id="Suche_Route" name="Suche_Route" value ="" placeholder="Name der Route eingeben" >
                            <button id="alter_suche_route" class="alter_suche">Suchen</button>
                            {% if Routen %}
                            <label class = "insert_label"> <b>Route auswählen: </b></label>
                                <select name="Auswahlliste_Route" size= {{ Routen.count }}>
                                {% for Route in Routen %}
                                    <option class="Auswahl_Route" id="Auswahl_Route">{{ Route.id }} - {{ Route.Name }} - Pflegetrupp: {{ Route.Pflegetrupp }}</option>
                                {% endfor %}
                                </select> <br>
                                    <label class = "insert_label"> <b>Ausgewählte Route: </b></label>
                                    <input readonly class = "alter_input" type = "text" id="ausgewaehlte_route"  name = "Ausgewaehlte_Route" placeholder="Bitte Route auswählen!">
                                    <label id="ausgewaehlte_route"> 
                                        <script>
                                            let auswahlRouten = document.querySelectorAll(".Auswahl_Route")
                                            auswahlRouten.forEach(auswahlelement=>{
                                                auswahlelement.addEventListener("click", showRouten)
                                            })
                                            function showRouten(e) {
                                                let ausgewaehlteselement = e.target.innerHTML
                                                console.log(ausgewaehlteselement)

                                                let QueryArray = ausgewaehlteselement.split(" - ");
                                                let id = QueryArray[0];
                                                let name = QueryArray[1];
                                                let pflegetrupp = QueryArray[2];
                                                console.log(QueryArray[0])
                                                console.log(QueryArray[1])
                                                console.log(QueryArray[2])
                                                document.getElementById('ausgewaehlte_route').value = id + ' - ' + name 
                                            } 

                                            let loc = window.location.href 
                                            let splitloc = loc.split('/')
                                            let lastloc = parseInt(splitloc[splitloc.length-1])
                                            console.log(lastloc)
                                            if (isNaN(lastloc)) {
                                                document.getElementById('ausgewaehlte_route').value = 'Bitte Route auswählen!'
                                            } else {
                                                let nameloc = splitloc[splitloc.length-2]
                                                document.getElementById('ausgewaehlte_route').value =  lastloc + ' - ' + nameloc.replace('%20', ' ')
                                            }

                                        </script>
                                    </label>
                                {% else %}
                            <label class = "insert_label"> <b></b></label>
                            <label class = "nodata_label"> <b>Keine Route mit diesem Namen</b></label>
                            {% endif %}
                        </div> 
                    </div>

                <div class="form" style="text-align: center;">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <table id="Table_Standorte" class="table table-image table-dark table-striped table-hover" >
                                    <tr>
                                        <th> ID </th>
                                        <th> Name </th>
                                        <!-- <th> Freitext </th> -->
                                        <th> Checkbox </th>
                                    </tr>
                                    {% for Standort in Standorte %}
                                        <tr>
                                            <td id="Standort_ID_{{ Standort.id }}"> 
                                                {{ Standort.id}}
                                            </td>
                                            <td class="table_id" id="Standort_Name_{{ Standort.id }}"> 
                                                {{ Standort.Name}} 
                                            </td>
                                            <!-- <td>
                                            <textarea class='RouteStandortFreitext' id="Verbindung_Freitext_{{ Standort.id }}" rows="3" value = "" placeholder="Beschreibung...">{% for Verbindung in Verbindungen %}{% if Verbindung.Route.id == idRoute.id %}{% if Verbindung.Standort.id == Standort.id %}{{ Verbindung.Freitext }}{% endif %}{% endif %}{% endfor %}
                                            </textarea>
                                            </td> -->
                                            <td> 
                                                <div class = "form">
                                                    <label class = "insert_label"><b>Status: </b></label>
                                                    <input class = "insert_checkbox" type="checkbox" id="Standort_Checkbox_{{ Standort.id }}" name="Status_Standort" unchecked>
                                                    {% for Verbindung in Verbindungen %}
                                                        {% if Verbindung.Route.id == idRoute.id %}
                                                            {% if Verbindung.Standort.id == Standort.id %}
                                                                <script>
                                                                    document.getElementById('Standort_Checkbox_{{ Standort.id }}').checked = true
                                                                </script>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <!-- <label for="Standort_Checkbox_{{ Standort.id }}" class = "insert_checkbox_label">Standort hinzufügen? </label> -->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <script>
                                    let elementfreitext = document.getElementsByClassName('RouteStandortFreitext')
                                    console.log(elementfreitext)
                                    for(let item in elementfreitext) {
                                        item.trim()
                                    }
                                </script>
                            </div>
                        </div> 
                    </div>
                    <button onclick="setZuweisung()" class = "insert_button" id="insert_submit" style="align-self: center; width: 65%;">Anwenden</button>
                </div>  
                    

                    

                    <script>               
                    document.addEventListener("DOMContentLoaded", function(event) {  
                        document.getElementById('alter_suche_route').addEventListener('click', getElementsFromFilterRoute)
                        //window.location.href = window.location.href + '/5+True-6+True'
                    })

                    let auswahlRoute = document.querySelectorAll(".Auswahl_Route")
                    auswahlRoute.forEach(auswahlelement=>{
                        auswahlelement.addEventListener("click", showRouten)
                    })
                    let auswahlStandort = document.querySelectorAll(".Auswahl_Standort")
                    auswahlStandort.forEach(auswahlelement=>{
                        auswahlelement.addEventListener("click", showStandort)
                    })

                    function setZuweisung() {
                        let table = document.getElementById('Table_Standorte')
                        console.log("Count", table.rows.length)
                        
                        let redirectString = '/'
                        for(let i=1; i<table.rows.length; i++) {
                            let idStandort = table.rows[i].cells[0].innerHTML.trim()
                            console.log(idStandort)
                            let infoRoute = document.getElementById('ausgewaehlte_route').value
                            let QueryArray = infoRoute.split(" - ");
                            let idRoute = QueryArray[0];
                            let CheckId = 'Standort_Checkbox_' + idStandort
                            let FreitextId = 'Verbindung_Freitext_' + idStandort
                            console.log(CheckId)
                            let statusStandort = document.getElementById(CheckId).checked
                            //let freitext = document.getElementById(FreitextId).innerHTML
                            console.log(statusStandort)

                            redirectString = redirectString + idStandort + '+' + statusStandort + '-'  
                        }
                        redirectString = redirectString.substring(0, redirectString.length-1)
                        console.log(redirectString)
                        window.location.href = window.location.href + redirectString


                    }

                    // Name aus der Suchleiste filtern und an URL hängen
                    function getElementsFromFilterRoute() {
                        let filter = document.getElementById('Suche_Route').value;
                        console.log(filter);
                        window.location.href = "/zuweisung_routestandort/" + filter
                    }

                    // Zeige Kunden mit zugehörigen Daten 
                    function showRouten(e) {
                        let ausgewaehlteselement = e.target.innerHTML
                        console.log(ausgewaehlteselement)

                        let QueryArray = ausgewaehlteselement.split(" - ");
                        let id = QueryArray[0];
                        let name = QueryArray[1];
                        let pflegetrupp = QueryArray[2];
                        console.log(QueryArray[0])
                        console.log(QueryArray[1])
                        console.log(QueryArray[2])
                        //document.getElementById('Ausgewaehlte_Route').value = id + ' - ' + name + ' - ' + pflegetrupp

                        window.location.href = "/zuweisung_routestandort/" + name + "/" + id
                    }   
                    
                    // Name aus der Suchleiste filtern und an URL hängen
                    function getElementsFromFilterStandort() {
                        let filter = document.getElementById('Suche_Standort').value;
                        console.log(filter);
                    }

                    // Zeige Kunden mit zugehörigen Daten 
                    function showStandort(e) {
                        let ausgewaehlteselement = e.target.innerHTML
                        console.log(ausgewaehlteselement)

                        let QueryArray = ausgewaehlteselement.split(" - ");
                        let id = QueryArray[0];
                        let name = QueryArray[1];
                        let pflegetrupp = QueryArray[2];
                    }   
                    </script>
            </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>