/* Colour Pallette: https://coolors.co/f8f3ed-cbe0a7-a5c8fe-2e3239-2f2f2f-495867-426a5a-bc4b51 */

/* Nav */
.navbar-dark {
  background-color: #2E3239;
}

.nav{
  margin-left: 30px;
}
.nav-link{
  color: whitesmoke;
}

.nav-link:hover{
  color: whitesmoke;
}


/* Body */
body {
  background-color: #495867;
  min-height: 100%;

}

@media(max-width: 40rem) {
  .RoutenBeschreibung {
      font-size: 90%
  }
}

@media(max-width: 40rem) {
  h5 {
      font-size: 95%
  }
}

@media(max-width: 40rem) {
  .Pflegetruppbeschreibung {
      font-size: 90%
  }
}


.container{
  background-color: #2E3239;
  color: #F8F3ED; 
}


/* Tables */
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
background-color: #2E3239;
color: #F8F3ED;
}

@media(max-width: 40rem) {
  .table-striped>tbody>tr:nth-child(odd)>td,
  .table-striped>tbody>tr:nth-child(odd)>th {
      font-size: 70%;
      width: 70%;
      height: 70%;
  }
}


.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
background-color: #2F2F2F;
color: #F8F3ED;
}


@media(max-width: 40rem) {
  .table-striped>tbody>tr:nth-child(even)>td,
  .table-striped>tbody>tr:nth-child(even)>th {
      font-size: 70%;
      width: 70%;
      height: 70%;
  }
}


/*Scroll*/
.Scroll{
  width:100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Scroll::-webkit-scrollbar{
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.Scroll::-webkit-scrollbar-thumb{
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}



/* Buttons */
.btn-primary, .btn-primary:visited {
  background-color: #426a5a !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #BC4B51 !important;
}

.btn-primary:active {
  background-color: #a5c8fe !important;
}

@media(max-width: 40rem) {
  .btn-primary,
  .btn-primary:visited,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:active {
      font-size: 70%;
  }
}


/* Footer */
.page-footer{
  background-color: #2E3239;
  color: #F8F3ED;
  bottom: 0;
  position: absolute;

}

.stretched-link::after{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1;
  pointer-events:auto;
  content:"";
  background-color:rgba(0,0,0,0);
}

.stretched-link:hover{
      background-color:rgba(134, 52, 52, 0.678);
  }
  
.LinkPflanze{
  height: 100%;
  width: 30px;
  position: absolute;
}

#insert_head{
  margin: 16px;
  margin-top: 12px;
  font-size: 25px;
  color: #F8F3ED;
  border-bottom: 4px solid #F8F3ED;
  padding: 1em;
}

.insert_form{
  margin: 2em;
  margin-top: 1em;
  color: #F8F3ED;
}

.form{
  margin: 10px;
}


.insert_label{
  position: relative;
  width: 15em;
}

.nodata_label{
  position: relative;
  color: #BC4B51;
  width: 80%;
}

.insert_input{
  width: 80%;
}

#insert_input_readonly{
  color: #000;
}

.insert_input_area {
  width: 80%;
}

.insert_picture{
  font-size: 16x;
}

.insert_checkbox{
  height: 20px;
  width: 30px;
  font-size: 16px;
}

.insert_checkbox_label{
  font-size: 16px;
}

.insert_button{
    margin-top: 30px;
    margin-left: 15px;
    border: solid 1px whitesmoke;
    border-radius: 12px;
    color: white;
    background-color: #2E3239;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#insert_submit:hover {
  background-color: #426A5A; 
  border: solid 1px #2E3239;
}

#insert_cancel:hover {
  background-color: #BC4B51; 
  border: solid 1px #2E3239;
}

.alter_suche{
  background-color: #2E3239;
  border: solid 1px whitesmoke;
  border-radius: 8px;
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  width: 13.66%
}

.alter_suche:hover{
  background-color: #426A5A; 
  border: solid 1px #2E3239;
}

.Suche{
  padding-bottom: 25px;
}

.alter_input{
  width: 80%;
}

.alter_input_Suche{
  width: 66%;
}

.alter_input_id{
  width: 14.33%;
}

.alter_input_area {
  width: 80%;
  align-self: flex-start;
  align-items:unset;
}

.alter_picture{
  font-size: 16px;
  margin: 50px;
}